#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightblue;
    min-height: 100vh;
}

#header {
    font-size: x-large;
    font-weight: bold;
    padding: 2%;
}

#player-info {
    font-size: large;
    padding: 2%;
}

#game-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#game-info {
    margin: auto;
}

#footer {
    font-style: italic;
    font-size: small;
    text-align: right;
}

#player-board, #opponent-board {
    border-color: black;
    border-style: solid;
    display: grid;
    justify-content: center;
    padding: 10px;
}

body {
    margin:0;
}

.board-square {
    border: dashed;
    border-color: gray;
    aspect-ratio: 1;
}

.square-hit {
    background-color: lightgreen;
}

.square-miss {
    background-color: pink;
}

.square-ship {
    background-color: blueviolet;
}

.square-ship.square-hit {
    background-color: orange;
}